.show-button:hover {
    opacity: 0.5;
}

.event-card {
    border: aqua 1px solid;
    border-radius: 1%;
    color: white;
    background-color: #474242;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.filter-icon:hover {
    color: aqua;
    cursor: pointer;
}

.filter-modal-icon:hover {
    color: aqua;
    cursor: pointer;
}

.EventList {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.suggestions {
    padding: 10px;
    border: 1px solid rgb(0, 255, 242);
    background-color: #474242;
    color: white;
    border-top: none;
    width: 200px;
}

.suggestion-items {
    margin: 10px;
    text-align: center;
}

.suggestion-items:hover {
    cursor: pointer;
    color: aqua;
}