.show-button {
    height: 30px;
    max-width: 50px;
    margin-right: 15px;
}

.show-button:hover {
    opacity: 0.5;
}

.eventTitle {
    font-size: 20px;
}

.time-location {
    font-size: 15px;
}

.events-filter {
    font-size: 20px;
}

.event-card {
    width: 330px;
    height: 150px;
    margin: auto;
    border: aqua 1px solid;
    border-radius: 1%;
    color: white;
    background-color: #474242;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.details-modal .modal-content {
    background-color: #474242;
    color: white;
}

.city {
    outline-style: none;
}

.filter-icon:hover {
    color: aqua;
    cursor: pointer;
}

.filter-modal-icon:hover {
    color: aqua;
    cursor: pointer;
}

.EventList {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.suggestions {
    padding: 10px;
    border: 1px solid rgb(0, 255, 242);
    background-color: #474242;
    color: white;
    border-top: none;
    width: 250px;
}

.suggestion-items {
    margin: 10px;
    text-align: center;
}

.suggestion-items:hover {
    cursor: pointer;
    color: aqua;
}

@media all and (min-width: 473px) and (max-width: 750px) {
    .event-card {
        max-width: 200px;
        height: fit-content;
    }

    .eventTitle {
        font-size: 15px;
    }

    .time-location {
        font-size: 10px;
    }

    .events-filter {
        font-size: 15px;
    }

    .show-button {
        height: 20px;
        max-width: 30px;
        margin-right: 15px;
    }
}


@media all and (min-width: 372px) and (max-width: 473px) {
    .event-card {
        max-width: 150px;
        height: fit-content;
    }

    .eventTitle {
        font-size: 15px;
    }

    .time-location {
        font-size: 10px;
    }

    .events-filter {
        font-size: 15px;
    }

    .show-button {
        height: 20px;
        max-width: 30px;
        margin-right: 15px;
    }
}

@media all and (max-width: 372px) {
    .event-card {
        max-width: 220px;
        height: fit-content;
    }

    .eventTitle {
        font-size: 15px;
    }

    .time-location {
        font-size: 10px;
    }

    .events-filter {
        font-size: 15px;
    }

    .show-button {
        height: 20px;
        max-width: 30px;
        margin-right: 15px;
    }
}